.cartao-frente, 
.cartao-verso { 
  position: absolute; 
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
} 
.cartao-frente, 
.cartao-verso { 
  position: absolute; 
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  backface-visibility: hidden; 
} 
.cartao-verso { 
  transform: rotateY(180deg); 
} 
.cartao-interno { 
  position: relative; 
} 
.cartao-interno { 
  position: relative; 
  transition: transform 0.8s; 
  transform-style: preserve-3d; 
} 
.cartao:hover .cartao-interno { 
  transform: rotateY(180deg); 
} 
{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.cabecalho {
padding: 15px 25px;
}

.cabecalho { 
  background-color: #6b6960; 
  padding: 15px 25px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
.cabecalho-link { 
  color: #a8ada5; 
  text-decoration: none; 
} 

h1 { 
  color: #fff; 
  font-size: 24px; 
} 
.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem {
width: 100%;
}


body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
} 

body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #6e6b6b; 
} 
main { 
  flex: 1; 
} 
footer { 
  background-color: #ece6e3; 
  padding: 15px 25px; 
  color: #66656d; 
} 